/* frontend/src/style.css */

/*Font*/
@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi-Medium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*Colors*/
:root {
  --background-color: #070F2B; 
  --text-color: #FBFBFB;       
  --accent-color: #C5B0CD;      
}

/* --- Step 3: Apply Styles Globally --- */
/* These styles apply to the entire application. */
body {
  /* Apply the background and text colors */
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Satoshi', sans-serif;

  
  margin: 0;
}

/* --- Step 4: Set a Default Style for Headings --- */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
<<<<<<< HEAD
/* Add this to the bottom of frontend/src/style.css */

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
=======
>>>>>>> roadmapcreation
